<div class="pb-5" {{did-insert this.repositionSelf @member}} {{did-update this.repositionSelf @member}} {{style this.cssProperties}} ...attributes>
  <h4>{{@member.title}}</h4>
  <p>{{@member.tagLine}}</p>

  <img class="img-fluid" src="{{@member.profileImgLargeSrc}}" alt="" role="presentation" style="max-height: 8rem;"/>

  <Util::MarkdownFromUrl @url={{@member.profileTextSrc}}
                         class="small"/>
</div>
