<div class="pb-5" {{did-insert this.repositionSelf @member}} {{did-update this.repositionSelf @member}} {{style this.cssProperties}} ...attributes>
  <img class="img-fluid mb-2" src="{{@member.profileImgLargeSrc}}" alt={{@member.title}}/>
  <p>{{@member.title}}, {{@member.tagLine}}</p>

  <Util::MarkdownFromUrl @url={{@member.profileTextSrc}} />
</div>
