<div class="container section-header">
  <div class="row">
    <div class="col-auto">
      <h2>Members</h2>
    </div>
  </div>

  <div class="row section-content">
    <div class="col-9 offset-3">
      <BsAccordion @selected={{this.activeMember}} @onChange={{action this.activateMember}} class="accordion-members" as |accordion|>
        {{#each this.members as |member|}}
          <accordion.item id={{concat "member-" member.id}} class="" @value={{member}} @titleComponent="section-members/accordion-item/title" as |accordionItem|>
            <accordionItem.title @onClick={{action accordion.change member}} @member={{member}}>
              {{member.title}}
            </accordionItem.title>

            <accordionItem.body class="pt-2 pb-4">
              <div class="row">
                <div class="col-12">
                  <SectionMembers::Member @member={{member}}/>

                  {{#if this.nextAvailableMember}}
                    <button type="button" class="btn btn-link"{{on "click" (action accordion.change this.nextAvailableMember)}} title={{this.nextAvailableMember.title}}>next</button>
                  {{/if}}
                </div>
              </div>
            </accordionItem.body>
          </accordion.item>
        {{/each}}
      </BsAccordion>
    </div>
  </div>

</div>
