<div class="container align-self-center" ...attributes>
  <div class="row">
    <div class="col-12 col-sm-5">
      <h2>Contact</h2>
    </div>
  </div>

  <div class="row text-responsive">
    <div class="col-12 col-sm-5">
      <Util::MarkdownFromUrl @url="/sections/contact.md"/>
    </div>
    <div class="col-12 col-sm-7">

      {{#if this.isSubmitted}}
        <p>Bedankt voor je reactie, we nemen contact met je op...</p>
      {{/if}}

      {{#unless this.isSubmitted}}
        <BsForm @model={{this.changeset}}
                @submitOnEnter={{true}}
                @onSubmit={{fn this.onSubmit}}
                autocomplete="off" as |form|>
          <form.element @size="lg" @property="name" @label="Naam" as |element|>
            <element.control autocomplete="off" class="bg-transparent"/>
          </form.element>
          <form.element @size="lg" @property="via" @label="Telefoon of e-mail" as |element|>
            <element.control autocomplete="off" class="bg-transparent"/>
          </form.element>
          <form.element @size="lg" @property="subject" @label="Onderwerp" as |element|>
            <element.control autocomplete="off" class="bg-transparent"/>
          </form.element>
          <form.element @size="lg" @controlType="textarea" @property="message" @label="Boodschap" as |element|>
            <element.control autocomplete="off" class="bg-transparent" rows="5"/>
          </form.element>

          <style>
            .g-recaptcha {
              margin-left: auto;
              display: table;
            }
          </style>
          <form.element @property="reCaptchaToken">
            <GRecaptcha @onSuccess={{fn this.onCaptchaResolved}} @onExpired={{fn this.onCaptchaExpired}} @ref={{mut this.reCaptchaReference}} />
          </form.element>

          <BsButton @type="primary" @block={{true}} @buttonType="submit">verzend</BsButton>
        </BsForm>
      {{/unless}}

    </div>
  </div>

  <PortalTarget @name="section-contact"/>


</div>

