<div class="container">
  <div class="row">
    <div class="col-12 py-5">
      <h2>Leden</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <BsAccordion @onChange={{action "onChange"}} @selected={{@member}} as |acc|>
        {{#each this.activeMembers as |member index|}}
          <acc.item @value={{member}} as |item|>

            <item.title class="py-4" data-slug={{member.slug}}>
              <div class="d-flex justify-content-between align-items-start {{if (mod index 2) "flex-row" "flex-row-reverse"}}">
                <img src={{member.profileImgSmallSrc}} class="img-fluid rounded-circle" alt="" role="presentation" style="max-width: 4rem; max-height: 4rem;min-width: 3rem; min-height: 3rem;">
                <div class="{{if (mod index 2) "text-right" "text-left"}}">
                  <h5 class="mb-0">{{member.title}}</h5>
                  <p class="mb-0 font-italic">{{lowercase member.tagLine}}</p>
                </div>
              </div>
            </item.title>

            <item.body>
              <div class="row {{if (mod index 2) "flex-row-reverse" "flex-row"}}">
                <div class="col-12 col-sm-6 col-md-5">
                  <img class="img-fluid mb-0" src="{{member.profileImgLargeSrc}}" alt={{member.title}}/>
                  <p class="small mb-0 {{if (mod index 2) "text-right" "text-left"}}">{{member.title}}, {{member.tagLine}}</p>
                </div>

                <div class="col-12 col-sm-6 col-md-7">
                  <Util::MarkdownFromUrl @url={{member.profileTextSrc}} />
                </div>
              </div>
            </item.body>

          </acc.item>
        {{/each}}
      </BsAccordion>
    </div>
  </div>
</div>
